{% extends 'base.html' %}
{% block title %}
{{category.title}}::{{block.super}}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% for item in news %}
        <div class="card mb-3">
        <div class="card-header">
                Kategoriya: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
            </div>
            {% if item.photo %}
            <img src={{item.photo.url}} alt="news_image" width="290" height="240">
            {% endif %}

            <h5>{{item.myFunc}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>

                <p class="card-text">{{ item.content }}</p>
                <a href="#" class="btn btn-primary">Read more ...</a>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"d-m-Y H:i"}}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
   {% include 'inc/_sidebar.html' %}
{% endblock %}

