{% extends 'base.html' %}
{% block title %}
{{title}}::{{block.super}}
{% endblock %}


{% block content %}
    <div class="col-md-12">
        {% for item in object_list %}
        <div class="card mb-3">
        <div class="card-header">
                Kategoriya: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
            </div>
            {% if item.photo %}
            <img src={{item.photo.url}} alt="news_image" width="290" height="240">
            {% endif %}

            <h5>{{item.myFunc}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>

                <p class="card-text">{{ item.content }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more ...</a>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"d-m-Y H:i"}}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
   {% include 'inc/_sidebar.html' %}
{% endblock %}
