{% extends 'base.html' %}
{% block title %}
{{news_item.title}}::{{block.super}}
{% endblock %}


{% block content %}
    <div class="col-md-12">

        <div class="card mb-3">
        <div class="card-header">
                Kategoriya: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
            </div>
            {% if news_item.photo %}
            <img src={{news_item.photo.url}} alt="news_image" width="290" height="240">
            {% endif %}


            <div class="card-body">
                <h5 class="card-title">{{ news_item.title }}</h5>

                <p class="card-text">{{ news_item.content }}</p>
                <a href="#" class="btn btn-primary">Read more ...</a>
            </div>
            <div class="card-footer text-muted">
                {{ news_item.created_at|date:"d-m-Y H:i"}}
            </div>
        </div>

    </div>
{% endblock %}
{% block sidebar %}
   {% include 'inc/_sidebar.html' %}
{% endblock %}
